<header class="head">
	<div class="header fn-clear">
		<section class="header-cnt fn-clear">
			<div class="logo">
				<div class="logo-cnt">
				 	<h1><a href="/">{{ site.blogName }}</a></h1>
				 	<h2>{{ site.blogDesc }}</h2>
				</div>
			</div>
			<nav class="nav">
				<ul>
					<li><a href="/">首页</a></li>
					<li><a href="http://wulijun.github.io/php-the-right-way/" target="_blank">PHP之道</a></li>
					<li><a href="/contact.html" >关于我</a></li>
					<li><a href="/atom.xml" target="_blank" >Rss</a></li>
				</ul>
			</nav>
		</section>
	</div>
</header>