---
layout: default
---
<section class="content">
	<div class="content-cnt fn-clear">
		<div class="main fn-clear">
			<article class="entry">
				<h1 class="title">{{ page.title }}</h1>
               	<p class="meta"><time class="date" pubdate="{{ page.date | date_to_utc | date: '%Y-%m-%d' }}">{{ page.date | date_to_string }}</time> By <a href="/contact.html" class="author" title="author">{{ site.author.name }}</a></p>
               	{% if page.description %}
               	<p class="description">{{ page.description }}</p>
               	{% endif %}
 			 	{{ content }}
                <nav class="pagination-link">
                    {% if page.previous %}
                    <a class="prev" href="{{ page.previous.url }}" rel="bookmark">&laquo;&nbsp;{{ page.previous.title | truncatewords:5 }}</a>
                    {% endif %}
                    {% if page.next %}
                    <a class="next" href="{{ page.next.url }}" rel="bookmark">{{ page.next.title | truncatewords:5 }}&nbsp;&raquo;</a>
                    {% endif %}
                 </nav>
			</article><!-- .entry -->
			<section>
				<div id="disqus_thread"></div>
				<script type="text/javascript">
    				var disqus_shortname = 'wulijunblog';
    				(function() {
         				var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
             			dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
             			(document.getElementsByTagName('head')[0] ||
              			document.getElementsByTagName('body')[0]).appendChild(dsq);
             		})();
				</script>
				<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
			</section>		
		</div>
		<div class="aside fn-clear">
			{% include wg-contact.html %}
			{% include wg-project.html %}
		</div>
	</div>
</section>